@page "/"

<h1>Hello, world!</h1>

<div class="player">
    <video controls>
        <source src="UserFiles/test.mp4" type="video/mp4">
    </video>
    <div class="controls">
        <button class="play" data-icon="P" aria-label="play pause toggle"></button>
        <button class="stop" data-icon="S" aria-label="stop"></button>
        <div class="timer">
            <div></div>
            <span aria-label="timer">00:00</span>
        </div>
        <button class="rwd" data-icon="B" aria-label="rewind"></button>
        <button class="fwd" data-icon="F" aria-label="fast forward"></button>
    </div>
</div>

<p>@FileContent</p>

