@page "/navigationmanager"
<h3>NavigationManager</h3>



@code {
    public List<string> videoFiles;
    public string currentFile;
    public string fileName;
    public async Task OnFileClicked()
    { 
    }
}
