
@page "/oauth/{backparam}"
@using Microsoft.Extensions.Logging

<h3>Oauth</h3>
<h3>@BackParam</h3>

@code {

    [Inject]
    public ILogger<Index> Logger { get; set; }
    [Parameter]
    public string BackParam { get; set; }

}
