@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="/" style="margin-right: auto">
            @escapeSym Home
        </a>
        <a href="Identity/Account/Manage/Index">
            Hello, @context.User.Identity.Name!
        </a>
        <a href="NavigationManager">
            Your Video files
        </a>
        <a href="Identity/Account/Register">
            Register new user
        </a>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button style="border-width: 0; background: none; color: blue; "> Logout </button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    const string escapeSym = "<";
}