.border {
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
    padding: 10px;
    
}

.in-border {
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    margin: 1%
}

.left-to-right-container {
    display: flex;
    flex-direction: row;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 35px;
    height: 33px;
    margin-bottom: 0; /*overrides default label margin-bottom: 0.5rem*/
}